{% extends 'index.html' %}
{% block title %}
    Блог - {{ block.super }}
{% endblock %}
{% block content %}
<main id="mainContent" class="main-content">
    <!-- Page Container -->
<div class="page-container ptb-60">
<div class="container">
<div class="row row-rl-10 row-tb-20">
<div class="page-content col-xs-12 col-sm-7 col-md-8">

                    <!-- Blog Area -->

<section class="blog-area blog-classic">

<div class="row row-tb-20">
{% for post in posts %}
    <!-- Blog Post -->
    <div class="blog-post col-xs-12">
        <article class="entry panel">
            <figure class="entry-media post-thumbnail embed-responsive embed-responsive-16by9" data-bg-img="{{ post.image }}">
                <figure class="item">
                <img src="{% if post.image %}{{ post.image_post.url }}{% endif %}">
                </figure>
                <div class="entry-date">
                    <h4>{{ post.publish|date:"d" }}</h4>
                    <h6>{{ post.publish|date:"M" }}</h6>
                </div>
            </figure>
            <div class="entry-wrapper prl-20 prl-md-30 pt-20 pt-md-30 pb-15">
                <header class="entry-header">
                    <h4 class="entry-title mb-10 mb-md-15 t-uppercase">
                        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h4>
                    <div class="entry-meta mb-10">
                        <ul class="tag-info list-inline">
                            <li><i class="icon fa fa-user"></i> By : {{ post.author }}</li>
                            <li><i class="icon fa fa-comments"></i>
                                <a href="{{ post.category.get_absolute_url }}">{{ post.category.name }}</a>
                            </li>
                        </ul>
                    </div>
                </header>
                <div class="entry-content">
                    <p class="entry-summary">{{ post.content|truncatewords:30|linebreaks }}</p>
                </div>
                <footer class="entry-footer text-right">
                    <a href="blog_single_standard.html" class="more-link btn btn-link">Continue reading <i class="icon fa fa-long-arrow-right"></i></a>
                </footer>
            </div>
        </article>
    </div>
{% empty %}

<div class="blog-post col-xs-12">
    <article class="entry panel">
        <h6>Записей нет</h6>
    </article>
</div>
{% endfor %}
</div>

                    <!-- Blog Pagination -->

<div class="page-pagination text-center mt-30 p-10 panel">
    <nav>
        <!-- Page Pagination -->
        <ul class="page-pagination">
            {% if posts.has_previous %}
            <li>
                <a class="page-numbers previous" href="?q={{ q }}&page={{ posts.previous_page_number }}"><</a>
            </li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li><span class="page-numbers current">{{ i }}</span></li>
                {% else %}
                    <!-- For the 1st page we do not use ?page=1 -->
                    {% if i == 1 %}
                        <li><a href="?q={{ q }}&page={{ i }}" class="page-numbers ">{{ i }}</a></li>

                    {% else %}
                        <!-- Show current page and +-3 pages -->
                        {% if i|add:"-3" <= posts.number and posts.number <= i|add:"3" %}
                            <li><a href="?q={{ q }}&page={{ i }}" class="page-numbers ">{{ i }}</a></li>

                        <!-- Shows every 10th page and the last page -->
                        {% elif i|divisibleby:"10" or i == posts.paginator.num_pages %}
                            <li><a href="?q={{ q }}&page={{ i }}" class="page-numbers ">{{ i }}</a></li>
                        {% endif %}

                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="?q={{ q }}&page={{ posts.next_page_number }}" class="page-numbers next">></a></li>
            {% endif %}
        </ul>
        <!-- End Page Pagination -->
    </nav>
</div>
                        <!-- End Blog Pagination -->

</section>
                    <!-- End Blog Area -->
</div>

{% include 'blog/sidebar/sidebar.html' %}

</div>
</div>
</div>
    <!-- End Page Container -->
</main>
{% endblock %}